<%= link_to "Upload nmap data", new_nmap_path, class: "btn btn-primary" %>
<h3>Nmap Reports</h3>
<table class="table table-striped table-bordered">
	<thead>
			<th>IP</th>
			<th>IPv4</th>
			<th>IPv6</th>
			<th>Address</th>
			<th>MAC</th>
			<th>Vendor</th>
	</thead>
	<tbody>
		<% @nmap_reports.each do |nmap_report| %>
			<tr>
				<td><%= link_to nmap_report.nmap_host.ip, nmap_path(nmap_report.id) %></td>
				<td><%= nmap_report.nmap_host.ipv4 %></td>
				<td><%= nmap_report.nmap_host.ipv6 %></td>
				<td><%= nmap_report.nmap_host.address %></td>
				<td><%= nmap_report.nmap_host.mac %></td>
				<td><%= nmap_report.nmap_host.vendor %></td>
			</tr>
		<% end %>
	</tbody>
</table>