<div class="row">
	<div class="col-md-6">
		<%= link_to "Back to #{@engagement.engagement_name}", engagement_path(@nmap_report.engagement.id), class: "btn btn-primary mBot9" %>
	</div>
	<div class="col-md-6">
		<%= link_to "Add new nmap", new_engagement_nmap_path(@nmap_report.engagement.id), class: "btn btn-primary policiesRight" %>
	</div>
</div>

<h3>Report nmaprun</h3>
<table class="table table-striped table-bordered" id="report_nmaprun">
	<thead>
		<th>Name</th>
		<th>Version</th>
		<th>Arguments</th>
		<th>Start Time</th>
		<th>XML Output Version</th>
		<th>Scan Type</th>
		<th>Protocol</th>
		<th>Services</th>
		<th>Debugging</th>
		<th>Verbose</th>
	</thead>
	<tbody>
		<tr>
			<td><%= @nmap_report.name %></td>
			<td><%= @nmap_report.version %></td>
			<td><%= @nmap_report.arguments %></td>
			<td><%= @nmap_report.start_time %></td>
			<td><%= @nmap_report.xmloutputversion %></td>
			<td><%= @nmap_report.scan_type %></td>
			<td><%= @nmap_report.protocol %></td>
			<td><%= @nmap_report.services %></td>
			<td><%= @nmap_report.debugging %></td>
			<td><%= @nmap_report.verbose %></td>
		</tr>
	</tbody>
</table>

<h3>Report runstats</h3>
<% nmap_run_stats = @nmap_report.nmap_run_stats %>
<table class="table table-striped table-bordered" id="report_runstats">
	<thead>
		<th>end_time</th>
		<th>elapsed</th>
		<th>summary</th>
		<th>exit_status</th>
	</thead>
	<tbody>
		<% nmap_run_stats.each do |run_stat| %>
		<tr>
			<td><%= run_stat.end_time %></td>
			<td><%= run_stat.elapsed %></td>
			<td><%= run_stat.summary %></td>
			<td><%= run_stat.exit_status %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<h3>Host</h3>
<% nmap_hosts = @nmap_report.nmap_hosts %>
<table class="table table-striped table-bordered" id="nmap_host">
	<thead>
		<th>IP</th>
		<th>IPv4</th>
		<th>IPv6</th>
		<th>Address</th>
		<th>MAC</th>
		<th>Vendor</th>
	</thead>
	<tbody>
		<% nmap_hosts.each do |nmap_host| %>
			<tr>
				<td><%= nmap_host.ip %></td>
				<td><%= nmap_host.ipv4 %></td>
				<td><%= nmap_host.ipv6 %></td>
				<td><%= nmap_host.address %></td>
				<td><%= nmap_host.mac %></td>
				<td><%= nmap_host.vendor %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h3>Hostnames</h3>
<table class="table table-striped table-bordered" id="nmap_host_name">
	<thead>
		<th>Type</th>
		<th>Name</th>
	</thead>
	<tbody>
		<% nmap_hosts.each do |nmap_host| %>
			<% nmap_hostnames = nmap_host.nmap_hostnames %>
			<% nmap_hostnames.each do |nh| %>
				<tr>
					<td><%= nh.host_type %></td>
					<td><%= nh.name %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Ports</h3>
<table class="table table-striped table-bordered" id="nmap_ports">
	<thead>
		<th>Port</th>
		<th>Protocol</th>
		<th>State</th>
		<th>Reason</th>
		<th>Service_name</th>
		<th>Product</th>
		<th>Version</th>
		<th>Extra Info</th>
		<th>Os Type</th>
		<th>Device Type</th>
		<th>Confidence</th>
		<th>Fingerprint Method</th>
		<th>Fingerprint</th>
		<th>Script</th>
		<th>Script Output</th>
	</thead>
	<tbody>
		<% nmap_hosts.each do |nmap_host| %>
			<% nmap_ports = nmap_host.nmap_ports %>
			<% nmap_ports.each do |p| %>
				<tr>
					<td><%= p.port %></td>
					<td><%= p.protocol %></td>
					<td><%= p.state %></td>
					<td><%= p.reason %></td>
					<td><%= p.service_name %></td>
					<td><%= p.product %></td>
					<td><%= p.version %></td>
					<td><%= p.extra_info %></td>
					<td><%= p.os_type %></td>
					<td><%= p.device_type %></td>
					<td><%= p.confidence %></td>
					<td><%= p.fingerprint_method %></td>
					<td><%= p.fingerprint %></td>
					<td><%= p.nmap_script.key %></td>
					<td><%= p.nmap_script.value %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Operating System Portused</h3>
<table class="table table-striped table-bordered" id="nmap_os_port">
	<thead>
		<th>State</th>
		<th>Protocol</th>
		<th>Port</th>
	</thead>
	<tbody>
		<% nmap_hosts.each do |nmap_host| %>
			<% unless nmap_host.nmap_operating_system.blank? %>
				<% operating_system = nmap_host.nmap_operating_system %>
				<% nmap_used_ports = operating_system.nmap_used_ports %>
				<% nmap_used_ports.each do |p| %>
					<tr>
						<td><%= p.state %></td>
						<td><%= p.proto %></td>
						<td><%= p.portid %></td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Operating System Class</h3>
<table class="table table-striped table-bordered" id="nmap_os_class">
	<thead>
		<th>Osclass Type</th>
		<th>Vendor</th>
		<th>Osfamily</th>
		<th>Osgen</th>
		<th>Accuracy</th>
	</thead>
	<tbody>
		<% nmap_hosts.each do |nmap_host| %>
			<% unless nmap_host.nmap_operating_system.blank? %>
				<% operating_system = nmap_host.nmap_operating_system %>
				<% nmap_os_classes = operating_system.nmap_os_classes %>
				<% nmap_os_classes.each do |c| %>
					<tr>
						<td><%= c.osclass_type %></td>
						<td><%= c.vendor %></td>
						<td><%= c.osfamily %></td>
						<td><%= c.osgen %></td>
						<td><%= c.accuracy %></td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Operating System Match</h3>
<table class="table table-striped table-bordered" id="nmap_os_match">
	<thead>
		<th>Name</th>
		<th>Accuracy</th>
		<th>Line</th>
	</thead>
	<tbody>
		<% nmap_hosts.each do |nmap_host| %>
			<% unless nmap_host.nmap_operating_system.blank? %>
				<% operating_system = nmap_host.nmap_operating_system %>
				<% nmap_os_matches = operating_system.nmap_os_matches %>
				<% nmap_os_matches.each do |m| %>
					<tr>
						<td><%= m.name %></td>
						<td><%= m.accuracy %></td>
						<td><%= m.line %></td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Host tcptssequences</h3>
<table class="table table-striped table-bordered" id="nmap_host_tcpts">
	<thead>
		<th>Description</th>
		<th>Values</th>
	</thead>
	<tbody>
		<% nmap_hosts.each do |nmap_host| %>
			<% nmap_host_tcptssequences = nmap_host.nmap_host_tcptssequences %>
			<% nmap_host_tcptssequences.each do |tcp| %>
				<tr>
					<td><%= tcp.description %></td>
					<td><%= tcp.values %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Host tcpsequences</h3>
<table class="table table-striped table-bordered" id="nmap_host_tcp">
	<thead>
		<th>Index</th>
		<th>Difficulty</td>
		<th>Values</th>
	</thead>
	<tbody>
		<% nmap_hosts.each do |nmap_host| %>
			<% nmap_host_tcpsequences = nmap_host.nmap_host_tcpsequences %>
			<% nmap_host_tcpsequences.each do |tcp| %>
				<tr>
					<td><%= tcp.index %></td>
					<td><%= tcp.difficulty %></td>
					<td><%= tcp.values %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Host ipidsequences</h3>
<table class="table table-striped table-bordered" id="nmap_host_ipid">
	<thead>
		<th>Description</th>
		<th>Values</th>
	</thead>
	<tbody>
		<% nmap_hosts.each do |nmap_host| %>
			<% nmap_host_ipidsequences = nmap_host.nmap_host_ipidsequences %>
			<% nmap_host_ipidsequences.each do |ip| %>
				<tr>
					<td><%= ip.description %></td>
					<td><%= ip.values %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Host traceroutes</h3>
<table class="table table-striped table-bordered" id="nmap_host_traceroute">
	<thead>
		<th>Port</th>
		<th>Protocol</th>
		<th>ttl</th>
		<th>Ipaddr</th>
		<th>rtt</th>
		<th>Host</th>
	</thead>
	<tbody>
		<% nmap_hosts.each do |nmap_host| %>
			<% nmap_host_traceroutes = nmap_host.nmap_host_traceroutes %>
			<% nmap_host_traceroutes.each do |trc| %>
				<tr>
					<td><%= trc.port %></td>
					<td><%= trc.protocol %></td>
					<td><%= trc.ttl %></td>
					<td><%= trc.ipaddr %></td>
					<td><%= trc.rtt %></td>
					<td><%= trc.host %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>