<div class="pTop5 pBot5">
	<%= link_to 'Add new', 'javascript:void(0);', id: 'new-service-link', class: 'pull-right btn btn-primary btn-xs' %>
	<span class="clearfix"></span>
</div>
<table class="table table-striped" id="servicesTabView" data-eng-id="<%= engagement_id %>" data-host-id="<%= host_id %>" data-host="<%= engagement_main.host %>">
	<thead>
		<tr>
			<th>IP</th>
			<th>Port</th>
			<th>Protocol</th>
			<th>Status</th>
			<th>Name</th>
			<th>Banner</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% host_infos.each do |host_info| %>
			<tr>
				<td>
					<%= host_info.ip %>
				</td>
				<td class="pRelative">
					<span class="pointer eHover">
						<%= best_in_place host_info, :service_port, url: engagement_host_host_service_path(@engagement, engagement_main, host_info) %>
					</span>
					<i class="glyphicon glyphicon-pencil editIcon"></i>
				</td>
				<td class="pRelative">
					<span class="pointer eHover">
						<%= best_in_place host_info, :service_protocol, url: engagement_host_host_service_path(@engagement, engagement_main, host_info) %>
					</span>
					<i class="glyphicon glyphicon-pencil editIcon"></i>
				</td>
				<td class="pRelative">
					<span class="pointer eHover">
						<%= best_in_place host_info, :service_status, url: engagement_host_host_service_path(@engagement, engagement_main, host_info), as: :select, collection: [["open", "Open"],["closed", "Closed"]] %>
					</span>
					<i class="glyphicon glyphicon-pencil editIcon"></i>
				</td>
				<td class="pRelative">
					<span class="pointer eHover">
						<%= best_in_place host_info, :service_name, url: engagement_host_host_service_path(@engagement, engagement_main, host_info) %>
					</span>
					<i class="glyphicon glyphicon-pencil editIcon"></i>
				</td>
				<td class="pRelative">
					<span class="pointer eHover">
						<%= best_in_place host_info, :service_banner, url: engagement_host_host_service_path(@engagement, engagement_main, host_info) %>
					</span>
					<i class="glyphicon glyphicon-pencil editIcon"></i>
				</td>
				<td>
					<%= link_to "Delete", "javascript:void(0);", class: "delete-service-link", "data-obj-id" => host_info.id %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>