<script>
  $(function(){
    color_rows = function(){
      $("#vulnsTabView tbody tr").each(function(index){
        var td = $(this).find('td:eq(1)');
        var type = td.text().trim();

        if(td.find('span').length == 0){
          td.html('<span class="label bg-color-' + type.toLowerCase() + ' diBlock vMiddle mRight9">' + type + '</span>');
        }

      })
    };

    setInterval(color_rows, 1000);
  });
</script>
<div class="pTop5 pBot5">
	<%= link_to 'Add new', 'javascript:void(0);', id: 'new-vuln-link',  class: 'pull-right btn btn-primary btn-xs'  %>
	<span class="clearfix"></span>
</div>
<table class="table table-striped" id="vulnsTabView" data-eng-main-id="<%= eng_main_id %>">
	<thead>
		<tr>
			<th>Port</th>
			<th>Severity</th>
			<th>Name</th>
			<th>-</th>
			<th>Synopsis</th>
			<th>CVE</th>
			<th>CWE</th>
			<th>-</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% unless host_vulns.blank? %>
			<% host_vulns.each do |host_vuln| %>
				<tr>
					<td class="pRelative">
						<span class="pointer eHover">
							<%= best_in_place host_vuln, :port, url: engagement_engagement_main_host_vuln_path(@engagement_main.engagement, @engagement_main, host_vuln) %>
						</span>
						<i class="glyphicon glyphicon-pencil editIcon"></i>
					</td>
					<td>
						<%= get_risk_factor(host_vuln.severity) %>
					</td>
					<td class="pRelative">
						<span class="pointer eHover">
							<%= best_in_place host_vuln, :plugin_name, url: engagement_engagement_main_host_vuln_path(@engagement_main.engagement, @engagement_main, host_vuln) %>
						</span>
						<i class="glyphicon glyphicon-pencil editIcon"></i>
					</td>
					<td class="pRelative">
						<span class="pointer eHover">
							<%#= best_in_place host_vuln, :aasm_state, url: engagement_engagement_main_host_vuln_path(@engagement_main.engagement, @engagement_main, host_vuln), as: :select, collection: [["not_verified", "Not Verified"], ["vulnerable", "Vulnerable"], ["false_positive", "False Positive"]] %>
						</span>
						<i class="glyphicon glyphicon-pencil editIcon"></i>
					</td>
					<td class="pRelative">
						<span class="pointer eHover">
							<%= best_in_place host_vuln, :plugin_output, url: engagement_engagement_main_host_vuln_path(@engagement_main.engagement, @engagement_main, host_vuln), as: :textarea %>
							<i class="glyphicon glyphicon-pencil editIcon"></i>
						</span>
					</td>
					<td>
            <% cves = host_vuln.plugin.references.where(reference_name: 'cve') %>
						<% if cves.any? %>
                <% for cve in cves %>
							    <%= link_to cve.id, cfe_path(cve), target: '_blank' %>
						  <% end %>
             <% end %>
					</td>
          <td>
            <% cwes = host_vuln.plugin.references.where(reference_name: 'cwe') %>
               <% if cwes.any? %>
                <% for cwe in cwes %>
                    <%= link_to cwe.id, cfe_path(cwe), target: '_blank' %>
                <% end %>
            <% end %>
          </td>
					<td class="pRelative">
						<span class="pointer eHover">
							<%#= best_in_place host_vuln, :level_of_access, url: engagement_engagement_main_host_vuln_path(@engagement_main.engagement, @engagement_main, host_vuln), as: :select, collection: [["", ""],["user", "User"], ["system", "System"], ["admin", "Admin"], ["domain", "Domain"], ["root", "Root"]] %>
						</span>
						<i class="glyphicon glyphicon-pencil editIcon"></i>
					</td>
					<td>
						<%= link_to "Delete", "javascript:void(0);", class: "delete-vuln-link", "data-obj-id" => host_vuln.id %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>