<div class="pTop5 pBot5">
	<%= link_to 'Add new', 'javascript:void(0);', id: 'new-vuln-link',  class: 'pull-right btn btn-primary btn-xs'  %>
	<span class="clearfix"></span>
</div>
<table class="table table-striped" id="vulnsTabView" data-eng-main-id="<%= eng_main_id %>">
	<thead>
		<tr>
			<th>Port</th>
			<th>Severity</th>
			<th>Name</th>
			<th>Status</th>
			<th>Synopsis</th>
			<th>CVE</th>
			<th>CWE</th>
			<th>Level of Access</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% unless host_vulns.blank? %>
			<% host_vulns.each do |host_vuln| %>
				<tr>
					<td class="pRelative">
						<span class="pointer eHover">
							<%= best_in_place host_vuln, :port, url: engagement_engagement_main_host_vuln_path(@engagement_main.engagement, @engagement_main, host_vuln) %>
						</span>
						<i class="glyphicon glyphicon-pencil editIcon"></i>
					</td>
					<td>
						<%= get_risk_factor(host_vuln.severity) %>
					</td>
					<td class="pRelative">
						<span class="pointer eHover">
							<%= best_in_place host_vuln, :vuln_name, url: engagement_engagement_main_host_vuln_path(@engagement_main.engagement, @engagement_main, host_vuln) %>
						</span>
						<i class="glyphicon glyphicon-pencil editIcon"></i>
					</td>
					<td class="pRelative">
						<span class="pointer eHover">
							<%= best_in_place host_vuln, :aasm_state, url: engagement_engagement_main_host_vuln_path(@engagement_main.engagement, @engagement_main, host_vuln), as: :select, collection: [["not_verified", "Not Verified"], ["vulnerable", "Vulnerable"], ["false_positive", "False Positive"]] %>
						</span>
						<i class="glyphicon glyphicon-pencil editIcon"></i>
					</td>
					<td class="pRelative">
						<span class="pointer eHover">
							<%= best_in_place host_vuln, :synopsis, url: engagement_engagement_main_host_vuln_path(@engagement_main.engagement, @engagement_main, host_vuln), as: :textarea %>
							<i class="glyphicon glyphicon-pencil editIcon"></i>
						</span>
					</td>
					<td>
						<% if host_vuln.cve %>
							<%= link_to host_vuln.cve, cfe_path(host_vuln.cve), target: '_blank' %>
						<% end %>
					</td>
					<td>
						<% if host_vuln.cwe %>
							<%= link_to host_vuln.cwe, cwe_path(host_vuln.cwe), target: '_blank' %>
						<% end %>
					</td>
					<td class="pRelative">
						<span class="pointer eHover">
							<%= best_in_place host_vuln, :level_of_access, url: engagement_engagement_main_host_vuln_path(@engagement_main.engagement, @engagement_main, host_vuln), as: :select, collection: [["", ""],["user", "User"], ["system", "System"], ["admin", "Admin"], ["domain", "Domain"], ["root", "Root"]] %>
						</span>
						<i class="glyphicon glyphicon-pencil editIcon"></i>
					</td>
					<td>
						<%= link_to "Delete", "javascript:void(0);", class: "delete-vuln-link", "data-obj-id" => host_vuln.id %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>