<% provide(:title, @user.fname) %>
<%= content_tag :div, class: 'row' do %>
<!-- Start -->
  <%= content_tag :div, class: 'col-md-4' do %>
	  <%= content_tag :aside, class: 'profileUi' do %>
	    <%= content_tag :section, class: 'user_info' do %>
	      <%= content_tag :h1, class: 'text-right' do %>
	        <%= image_tag(@user.avatar.url(:thumb), alt: @user.fname, class: "gravatar") %>
					<%= @user.username %>
	      <% end %>
				<%= content_tag :h2, class: 'text-right' do %>
	        <%= "#{@user.fname} #{@user.lname}" %>
				<% end %>
				
			<% end %>
		<% end %>
	<% end %>

	<% # User Stats # %>
	<%= content_tag :div, class: 'col-md-8 user_stats' do %>
	<% end %>

<% end %>

<h3 class="text-center mBot25">My Engagements Calendar</h3><hr>

<div class='<%= "pTop10 #{highlited_calendar_class(@date)}" %> table-responsive' id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
    <%= h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>
  </h2>
	
	<%= calendar_for(@user_engagements, :year => @date.year, :month => @date.month ) do |t| %>
		<%= t.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')%>
    <% t.day(:day_method => :start_date) do |date, engagements| %>
      <%= date.day %>
	    <ul>
	      <% engagements.each do |engagement| %>
	        <li><%= link_to h(engagement.engagement_name), engagement %></li>
	      <% end %>
	    </ul>
    <% end %>
	<% end %>
</div>

<h3 class="text-center mBot25">Engagements and Status's</h3><hr>
<%= content_tag :div, class: '', 'ng-app' => 'vaptListSearch' do %>
	<table class="engagement_datatable table table-striped">
		<thead>
			<tr>
				<th>Engagement Name</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Status</th>
				<th>Type</th>
				<th>Site Wide</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @engagements.each do |engagement| %>
				<tr>
					<td>
						<%= link_to engagement.engagement_name, engagement_path(engagement.id) %>
					</td>
					<td>
						<%= engagement.start_date %>
					</td>
					<td>
						<%= engagement.end_date %>
					</td>
					<td>
						<%= engagement.aasm_state %>
					</td>
					<td>
						<%= engagement.engagement_type.name %>
					</td>
					<td>
						<%= engagement.is_site_wide_engagement %>
					</td>
					<td>
						<%= link_to_if((engagement.active? || engagement.pending?), "Join", "javascript:void(0)", class: "btn btn-success btn-xs accept_engagement", "eng-id" => engagement.id ){} %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>