<div class="row bg-primary">
	<div class="col-md-12"><h4>CVE-ID</h4></div>
</div>	
<div class="row bg-info">
	<div class="col-md-12">
		<p>
			<%= @cve.cve_database_id %>
		</p>
	</div>
</div>		
<div class="row bg-primary">		
	<div class="col-md-12"><h4>Description</h4></div>
</div>	
<div class="row bg-info">	
	<div class="col-md-12">
		<p>
			<%= @cve.desc %>
		</p>
	</div>
</div>		
<div class="row bg-primary">		
	<div class="col-md-12"><h4>References</h4></div>
</div>	
<div class="row bg-info">	
	<div class="col-md-12">
		<ul>
			<% @cve_database_refs.each do |r| %>
				<li><%= "#{r.source}: " %><%= link_to_if(r.url, "#{r.ref}", r.url) %></li>
			<% end %>
		</ul>
	</div>
</div>

<% if @cve.phase %>
<div class="row bg-primary">		
	<div class="col-md-12"><h4>Phase (Legacy)</h4></div>
</div>
<div class="row bg-info">	
	<div class="col-md-12">
		<p>
			<%= "#{@cve.phase} (#{@cve.phase_date})" %>
		</p>
	</div>
</div>
<% end %>

<% unless @cve_database_votes.empty? %>
<div class="row bg-primary">		
	<div class="col-md-12"><h4>Votes (Legacy)</h4></div>
</div>
<div class="row bg-info">	
	<div class="col-md-12">
		<% @cve_database_votes.each do |v| %>
			<div><%= "#{v.vote_type.upcase} (#{v.count}) #{v.vote}" %></div>
		<% end %>
	</div>
</div>
<% end %>

<% unless @cve_database_comments.empty? %>
<div class="row bg-primary">		
	<div class="col-md-12"><h4>Comments (Legacy)</h4></div>
</div>
<div class="row bg-info">	
	<div class="col-md-12">
		<% @cve_database_comments.each do |c| %>
			<p><%= "#{c.voter}> #{c.comment}" %></p>
		<% end %>
	</div>
</div>
<% end %>