<% sub_engagement_ips = f.ips.map{|ip| ip.ip} %>
<% sub_engagement_poc_names = f.pocs.map {|poc| poc.name} %>
<% sub_engagement_system_admin_names = f.system_admins.map {|sa| sa.name} %>

<%= hidden_field("engagement[sub_engagements_attributes][#{i}]", "id", value: f.id) %>

<div class="nested-fields fields-row">
	<div class="field">
		<%= label "engagement[sub_engagements_attributes][#{i}]", "engagement_name" %>
		<%= text_field("engagement[sub_engagements_attributes][#{i}]", "engagement_name", value: f.engagement_name) %>
	</div>
	<div class="field">
		<%= label "engagement[sub_engagements_attributes][#{i}]", "ip", label: "IPs" %>
		<% if sub_engagement_ips.nil? %>
			<%= file_field "engagement[sub_engagements_attributes][#{i}]", "ip" %>
			<%= label "engagement[sub_engagements_attributes][#{i}]", "ip", label: "Or Enter Manually" %>
			<%= text_area "engagement[sub_engagements_attributes][#{i}]", "ip" %>
		<% else %>
			<%= text_area "engagement[sub_engagements_attributes][#{i}]", "ip", value: sub_engagement_ips.join(", ") %>
		<% end %>
	</div>
	<div class="field">
		<%= label "engagement[sub_engagements_attributes][#{i}]", "poc", label: "POCs" %>
			<%= text_field "engagement[sub_engagements_attributes][#{i}]", "poc", class: 'sub_engagement_poc', value: sub_engagement_poc_names.join(", ") %>
	</div>
	<div class="field">
		<%= label "engagement[sub_engagements_attributes][#{i}]", "system_admin", label: "System Admins" %>
		<%= text_field "engagement[sub_engagements_attributes][#{i}]", "system_admin", class: 'sub_engagement_system_admin', value: sub_engagement_system_admin_names.join(", ") %>
	</div>
	<div class="text-center">
		<%#= link_to_remove_association f do %>
			<!-- <i class="glyphicon glyphicon-minus-sign"></i> Remove -->
		<%# end %>
	</div>
</div>

<% content_for :head_javascript do %>
	<script type="text/javascript">
		console.log($(".fields-row").length)
		if($(".fields-row").length <= 1){
			$(".remove_fields")[0].style.display="none";
		}else if($(".fields-row").length > 1){
			$(".remove_fields")[0].style.display="inline-block";
		}
		$("#sub_engagements").on("cocoon:after-remove", function(){
			if($(".fields-row").length == 1){
				$(".remove_fields")[0].style.display="none";
			}else{
				$(".remove_fields")[0].style.display="inline-block";
			}
		})
		.on("cocoon:after-insert", function(e, inserted_item){
			if($(".fields-row").length == 1){
				$(".remove_fields")[0].style.display="none";
			}else{
				$(".remove_fields")[0].style.display="inline-block";
			}
		})
	</script>
<% end %>