<%= content_tag :div do %>
  <table class="engagement_datatable table table-striped">
    <thead>
      <tr>
        <th>Engagement Name</th>
        <th>Customer Name</th>
        <th>OCB Number</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% engagements.each do |engagement| %>
        <tr>
          <td>
            <%= link_to engagement.engagement_name, engagement_path(engagement.id) %>
          </td>
          <td>
            <%= engagement.customer.name %>
          </td>
          <td>
            <%= engagement.ocbs.try(:first).try(:number) %>
          </td>
          <td>
            <%= engagement.start_date %>
          </td>
          <td>
            <%= engagement.end_date %>
            <% if engagement.end_date <= Time.zone.today && current_user.engagements.exists?(:id => engagement.id) %>
                <br/>
                <%= link_to("Change End Date", [:edit, engagement], :class => 'btn btn-warning') %>
                <%= link_to("Mark as ended", [:complete, engagement], :method => :put, :class => 'btn btn-success', :data => {
                    :confirm => "Are you sure?",
                    :disable_with => '...'
                }) %>
            <% end %>
          </td>
          <td>
            <%= engagement.aasm_state %>
          </td>
          <td>
            <%= engagement.engagement_type.name %>
          </td>
          <td>
            <%= link_to "Leave", engagement_status_path(engagement.id), class: "btn btn-danger btn-xs", method: :delete, data: {confirm: "Are you sure ?"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

