<div ng-controller="OcbCtrl">
	<!-- Start Angular of OCB operation -->
	<% unless @engagement.completed? %>
	<div class="row pBot10">
		<div class="col-md-12">
			<div class="well">
				{{messages_header}}
				<button type="button" class="btn btn-primary btn-sm pull-right" aria-label="Left Align" ng-click="addNewOcbBtnClick(<%= @engagement.id %>)">
					<span class="glyphicon glyphicon-plus-sign glyphicon-align-left" aria-hidden="true"></span>
					Add new OCB
				</button>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<% end %>
	
	<div class="ocb-form-blocks">
		<% unless @ocbs.empty? %>
		<form name="form">
			<div class="row mBot19">
				<!-- <div class="col-md-3"></div> -->
				<div class="col-md-4 col-xs-4 col-md-offset-3">
					<h5><strong>OCB Number</strong></h5>
				</div>
				<div class="col-md-3 col-xs-4">
					<h5><strong>Start Date</strong></h5>
				</div>
			</div>
			<% @ocbs.each_with_index do |ocb, i| %>
				<div class="row ocb-form-block">
					<!-- <div class="col-md-3"></div> -->
					<div class="col-md-4 col-xs-4 col-md-offset-3">
						<span><%= ocb.number %></span>
					</div>
					<div class="col-md-3 col-xs-5" data-default-start_date="<%= ocb.start_date %>">
						<%= text_field_tag 'start date', ocb.start_date, id: 'datepicker_ocb_start_date', 'data-provide'=> 'datepicker', 'data-date-format' => 'yyyy-mm-dd', class: 'pre-selected-ocbs', "ng-model" => "pre_ocb_#{i}.start_date" %>
					</div>
					<div class="col-md-2 col-xs-3">
						<%= submit_tag "save", "ng-click" => "saveOcbDetail($event, pre_ocb_#{i}, #{@engagement.id}, #{ocb.id})" %>
					</div>
				</div>
			<% end %>
		</form>

		<!-- Show pre selected values -->
		<script type="text/javascript">
		$( document ).ready(function() {
			$('.pre-selected-ocbs').each(function( index ) {
				$( this ).val($( this ).parent().attr('data-default-start_date'));
			});
		});$( this )
		</script>
		<% end %>
	</div>
	<!-- End of Angular OCB operation -->
	
</div>