<div class="nested-fields fields-row">
	<div class="field">
		<%= f.label "Sub Engagement Name" %>
		<%= f.text_field :sub_engagement_name %>
	</div>
	<div class="field">
		<%= f.label "IPs" %>
		<% if @sub_engagement_ips.nil? %>
			<%= f.file_field :ip %>
			<%= f.label "Or Enter Manually" %>
			<%= f.text_area :ip %>
		<% else %>
			<%= f.text_area :ip, value: @sub_engagement_ips.join(" , ") %>
		<% end %>
	</div>
	<div class="field">
		<%= f.label "POCs" %>
		<% if @poc_names_sub_engagement.nil? %>
			<%= f.text_field :poc, class: 'sub_engagement_poc' %>
		<% else %>
			<%= f.text_field :poc, class: 'sub_engagement_poc', value: @poc_names_sub_engagement.join(" , ") %>
		<% end %>
	</div>
	<div class="field">
		<%= f.label "System Admins" %>
		<% if @system_admin_names_sub_engagement.nil? %>
			<%= f.text_field :system_admin, class: 'sub_engagement_system_admin' %>
		<% else %>
			<%= f.text_field :system_admin, class: 'sub_engagement_system_admin', value: @system_admin_names_sub_engagement.join(" , ") %>
		<% end %>
	</div>
	<div class="text-center">
		<%= link_to_remove_association f do %>
			<i class="glyphicon glyphicon-minus-sign"></i> Remove
		<% end %>
	</div>
</div>

<% content_for :head_javascript do %>
	<script type="text/javascript">
		console.log($(".fields-row").length)
		if($(".fields-row").length <= 1){
			$(".remove_fields")[0].style.display="none";
		}else if($(".fields-row").length > 1){
			$(".remove_fields")[0].style.display="inline-block";
		}
		$("#sub_engagements").on("cocoon:after-remove", function(){
			if($(".fields-row").length == 1){
				$(".remove_fields")[0].style.display="none";
			}else{
				$(".remove_fields")[0].style.display="inline-block";
			}
		})
		.on("cocoon:after-insert", function(e, inserted_item){
			if($(".fields-row").length == 1){
				$(".remove_fields")[0].style.display="none";
			}else{
				$(".remove_fields")[0].style.display="inline-block";
			}
		})
	</script>
<% end %>