<% unless nessus_policy.blank? %>
	<% nessus_report = Risu::Models::NessusReport.find_by(policy_id: nessus_policy.id, engagement_id: engagement.id) %>
<% end %>
<% unless nessus_report.blank? %>
	<% nessus_hosts = Risu::Models::Host.where(nessus_report_id: nessus_report.id, engagement_id: engagement.id ) %>
<% end %>

<% unless nessus_policy.blank? %>
	<!-- Get host Vulnerabelity Comparison -->
	<% unless nessus_hosts.blank? %>
		<% total_severity_as_array = (nessus_hosts.map {|h| h.items}).flatten.map {|i| i.severity} %>
		<% grouped_severity_count = Hash.new 0 %>
		<% total_severity_as_array.each.map {|s| grouped_severity_count[s] += 1} %>

		<!-- Get Operating System Comparison -->
		<% grouped_os_count = Hash.new 0 %>
		<% total_os_as_array = nessus_hosts.map {|h| h.os} %>
		<% total_os_as_array.each.map {|s| grouped_os_count[s] += 1} %>
	<% end %>


	<h5>Current Vulnerabelities</h5>
	<hr>

	<% unless nessus_hosts.blank? %>
		<div class="row pTop10">
			<div class="col-md-2 bg-color-critical">
				<div class="vulns-big-font pAll10">
					<%= results_summary_critical_count(grouped_severity_count) %>
				</div>
				<div class="vulns-sub-font pAll5">
					CRITICAL
				</div>
			</div>
			<div class="col-md-2 bg-color-high">
				<div class="vulns-big-font pAll10">
					<%= results_summary_high_count(grouped_severity_count) %>
				</div>
				<div class="vulns-sub-font pAll5">
					HIGH
				</div>
			</div>
			<div class="col-md-2 bg-color-medium">
				<div class="vulns-big-font pAll10">
					<%= results_summary_medium_count(grouped_severity_count) %>
				</div>
				<div class="vulns-sub-font pAll5">
					MEDIUM
				</div>
			</div>
			<div class="col-md-2 bg-color-low">
				<div class="vulns-big-font pAll10">
					<%= results_summary_low_count(grouped_severity_count) %>
				</div>
				<div class="vulns-sub-font pAll5">
					LOW
				</div>
			</div>
			<div class="col-md-2 bg-color-info">
				<div class="vulns-big-font pAll10">
					<%= results_summary_info_count(grouped_severity_count) %>
				</div>
				<div class="vulns-sub-font pAll5">
					INFO
				</div>
			</div>
			<div class="col-md-2 bg-color-total">
				<div class="vulns-big-font pAll10">
					<%= results_summary_total_count(grouped_severity_count) %>
				</div>
				<div class="vulns-sub-font pAll5">
					TOTAL
				</div>
			</div>
		</div>
	<% end %>

	<div class="row pTop10">
		<div class="col-md-6">
			<h5>Vulnerabelity Comparison</h5>
		</div>
		<div class="col-md-6">
			<h5>Operating System Comparison</h5>
		</div>
	</div>

	<hr>

	<% unless nessus_hosts.blank? %>
	<div class="row pTop10">
		<div class="col-md-6">
			<canvas id="vulnerabelityComparisonChart" width="100" height="100"></canvas>
			<script>
			var ctx = document.getElementById("vulnerabelityComparisonChart");
			var data = {
				labels: ["CRITICAL","HIGH","MEDIUM","LOW","INFO"],
				datasets: [
					{
						data: [
							<%= results_summary_critical_count(grouped_severity_count) %>,
							<%= results_summary_high_count(grouped_severity_count) %>,
							<%= results_summary_medium_count(grouped_severity_count) %>,
							<%= results_summary_low_count(grouped_severity_count) %>,
							<%= results_summary_info_count(grouped_severity_count) %>
						],
						backgroundColor: ["#d9534f","#f0ad4e","#e1df54","#5cb85c","#337ab7"],
						hoverBackgroundColor: ["#d9534f","#f0ad4e","#e1df54","#5cb85c","#337ab7"]
					}]
				};
				var options = {};
			
				// And for a doughnut chart
				var myDoughnutChart = new Chart(ctx, {
					type: 'doughnut',
					data: data,
					options: options
				});
				</script>
		</div>
		<% end %>
		
		<% unless nessus_hosts.blank? %>
		<div class="col-md-6">
			<canvas id="osComparisonChart" width="100" height="100"></canvas>
			<script>
			var ctx = document.getElementById("osComparisonChart");
			var color_codes = <%= raw grouped_os_count.keys.map {|k| "##{SecureRandom.hex(3)}"} %>
			var data = {
				labels: <%= raw grouped_os_count.keys.map {|k| k ? k : 'Unknown'} %>,
				datasets: [
					{
						data: <%= grouped_os_count.keys.each.map {|k| grouped_os_count[k]} %>,
						backgroundColor: color_codes,
						hoverBackgroundColor: color_codes
					}
				]
			};
			var options = {};
		
			// And for a doughnut chart
			var myDoughnutChart = new Chart(ctx, {
				type: 'doughnut',
				data: data,
				options: options
			});
			</script>
		</div>
		<% end %>
	</div>

	<h5>Hosts</h5>
	<!-- <hr> -->

	<% unless nessus_hosts.blank? %>
		<div class="row pTop10 resultSummary">
			<div class="col-md-12">
				<table class="table table-condensed">
					<tbody>
						<% nessus_hosts.each do |nessus_host| %>
						<% n_items = nessus_host.items.map {|i| i.severity} %>
						<% grouped_h_count = Hash.new 0 %>
						<% n_items.each.map {|s| grouped_h_count[s] += 1} %>
						<tr>
							<td style="width:15%">
								<%= link_to nessus_host.name, engagement_host_scan_detail_path(engagement.id, nessus_host.id) %>
							</td>
							<td class="">
								<div class="progress mBot0">
									<div class="progress-bar progress-bar-critical progress-bar-striped" style="width: <%= number_to_percentage results_summary_critical_count(grouped_h_count) %>">
										<span class="sr-only">Critical</span>
										<%= number_to_percentage results_summary_critical_count(grouped_h_count), precision: 0 %>
									</div>
									<div class="progress-bar progress-bar-high progress-bar-striped" style="width: <%= number_to_percentage results_summary_high_count(grouped_h_count) %>">
										<span class="sr-only">High</span>
										<%= number_to_percentage results_summary_high_count(grouped_h_count), precision: 0 %>
									</div>
									<div class="progress-bar progress-bar-medium progress-bar-striped" style="width: <%= number_to_percentage results_summary_medium_count(grouped_h_count) %>">
										<span class="sr-only">Medium</span>
										<%= number_to_percentage results_summary_medium_count(grouped_h_count), precision: 0 %>
									</div>
									<div class="progress-bar progress-bar-low progress-bar-striped" style="width: <%= number_to_percentage results_summary_low_count(grouped_h_count) %>">
										<span class="sr-only">Low</span>
										<%= number_to_percentage results_summary_low_count(grouped_h_count), precision: 0 %>
									</div>
									<div class="progress-bar progress-bar-info progress-bar-striped" style="width: <%= number_to_percentage results_summary_info_count(grouped_h_count) %>">
										<span class="sr-only">Info</span>
										<%= number_to_percentage results_summary_info_count(grouped_h_count), precision: 0 %>
									</div>
								</div>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	<% end %>
<% end %>