<h1>Edit Engagement</h1>
<%= form_for @engagement do |f| %>
	
	<%= render "shared/error_messages", object: @engagement %>
	
	<div class="row mBot19" ng-app="vaptListSearch">
		<div class="col-md-4">
			<div>
				<div class="field">
					<%= f.label "Engagement Name", class: 'required' %>
					<%= f.text_field :engagement_name %>
				</div>
				<div class="field">
					<%= f.label "Engagement Type" %>
					<%= f.select :engagement_type_id, @engagement_types.collect {|p| [p.name , p.id]} + ['Other'],{}, {"ng-model" => "engagementType", "ng-init" => "engagementType='#{@engagement.engagement_type.id}'"} %>
				</div>
				<div class="field" ng-if="engagementType == 'Other'">
					<%= f.text_field :engagement_type, value: "", placeholder: "Please enter engagement type" %>
				</div>
				<div class="field">
					<%= f.label "IPs" %>
					<%= f.text_area :ip, value: @engagement_ips.join(" , ") %>
				</div>
				<div class="field">
					<%= f.label "POCs" %>
					<%= f.text_field :poc, value: @poc_names_engagement.join(" , ") %>
				</div>
				<div class="field">
					<%= f.label "System Admins" %>
					<%= f.text_field :system_admin, value: @system_admin_names_engagement.join(" , ") %>
				</div>
			</div>
			<div>
				<h4>Sub Engagements (If any)</h4>
				<div id="sub_engagements">
					<% @sub_engagements.each_with_index do |sub_engagement, index| %>
						<%= render 'edit_sub_engagement_fields', f: sub_engagement, i: index %>
						<!-- <div class="links addAnother">
							<%#= link_to_add_association f, :sub_engagements do %>
								<i class="glyphicon glyphicon-plus-sign"></i> Add Another
							<%# end %>
						</div> -->
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="field">
				<%= f.label "Start Date", class: 'required' %>
				<%= f.text_field :start_date, id: 'datepicker_start_date', 'data-provide'=> 'datepicker', 'data-date-format' => 'yyyy-mm-dd' %>
			</div>
			<div class="field">
				<%= f.label "End Date", class: 'required' %>
				<%= f.text_field :end_date, id: 'datepicker_end_date', 'data-provide'=> 'datepicker', 'data-date-format' => 'yyyy-mm-dd' %>
			</div>
		</div>
		<div class="col-md-4">
			<%= f.label "Add User" %>
			<form class="form-search">
				<%= text_field_tag :search_user, nil, placeholder: 'Search', "ng-model" => "searchList" %>
			</form>
			<ul class="addUserList" ng-init="users = <%= @users.to_json %>; engagement_users = <%= @engagement_user_usernames.to_json %>">
			  <li ng-repeat="user in users | filter:searchList">
			    <label ng-if="engagement_users.indexOf(user.username) <= -1">
						<input name="engagement[user][]" type="hidden" value="0">
						<input type="checkbox" value={{user.username}} name="engagement[user][]" id="engagement_user_admin">
						{{user.username}}
					</label>
			    <label ng-if="engagement_users.indexOf(user.username) > -1">
						<input name="engagement[user][]" type="hidden" value="0">
						<input type="checkbox" value={{user.username}} name="engagement[user][]" id="engagement_user_admin" checked="true">
						{{user.username}}
					</label>
			  </li>
			</ul>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="engagementModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        
		      </div>
		      <div class="modal-body">
		        Are you sure to create this engagement?
		      </div>
		      <div class="modal-footer">
						<%= link_to "Maybe later", "#", class: "btn btn-default", "data-dismiss" => "modal" %>
						<%= link_to "Yes", "#", class: "btn btn-primary", onclick: '$(".edit_engagement").submit()' %>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<div class="text-center">
		<%= link_to "Update", "#", 'data-toggle' => 'modal', 'data-target' => '#engagementModal', :class => "butt"  %>
	</div>
<% end %>