<h1>Create New Engagement</h1>
<%= form_for @engagement do |f| %>

    <%= render "shared/error_messages", object: @engagement %>

    <div ng-app="vaptListSearch">
      <div class="row" >
        <div class="col-xs-12">
          <div class="field">
            <%= f.label "Customer", class: 'required' %>
            <%= f.autocomplete_field :customer, autocomplete_customer_name_customers_path %>
          </div>
        </div>
      </div>
      <div class="row mBot19" >
        <div class="col-md-4">
          <div>
            <div class="field">
              <%= f.label "Engagement Name", class: 'required' %>
              <%= f.text_field :engagement_name %>
            </div>
            <div class="field">
              <%= f.label "Engagement Type" %>
              <%= f.select :engagement_type_id, @engagement_types.collect {|p| [p.name , p.id]} + ['Other'],{}, {"ng-model" => "engagementType", "ng-init" => "engagementType='#{@engagement_types.first.id}'"} %>
            </div>
            <div class="field" ng-if="engagementType == 'Other'">
              <%= f.text_field :engagement_type, placeholder: "Please enter engagement type" %>
            </div>
            <div class="field">
              <%= f.label "IPs" %>
              <%= f.file_field :ip, name: "engagement[ip_file]", id: "engagement_ip_file" %>
              <%= f.label "Or enter manually:" %>
              <%= f.text_area :ip %>
            </div>
            <div class="field">
              <%= f.label "POCs" %>
              <%= f.text_field :poc %>
            </div>
            <div class="field">
              <%= f.label "System Admins" %>
              <%= f.text_field :system_admin %>
            </div>
            <div class="field">
              <%= f.label "OCB Number", class: 'required' %>
              <%= f.text_field :ocb_number %>
            </div>
            <div class="field">
              <%= f.label "OCB Start Date", class: 'required' %>
              <%= f.text_field :ocb_start_date, id: 'datepicker_ocb_start_date', 'data-provide'=> 'datepicker', 'data-date-format' => 'yyyy-mm-dd' %>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <div class="field">
            <%= f.label "Start Date", class: 'required' %>
            <%= f.text_field :start_date, id: 'datepicker_start_date', 'data-provide'=> 'datepicker', 'data-date-format' => 'yyyy-mm-dd' %>
          </div>
          <div class="field">
            <%= f.label "End Date", class: 'required' %>
            <%= f.text_field :end_date, id: 'datepicker_end_date', 'data-provide'=> 'datepicker', 'data-date-format' => 'yyyy-mm-dd' %>
          </div>
        </div>
        <div id="input-fields" class="col-md-4">
          <%= f.label "Add User" %>
          <form class="form-search">
            <%= text_field_tag :search_user, nil, placeholder: 'Search', "ng-model" => "searchList" %>
          </form>
          <ul class="addUserList" ng-init="users = <%= @users.to_json %>">
            <li ng-repeat="user in users | filter:searchList" >
              <label>
                <input name="engagement[user][]" type="hidden" value="0">
                <input type="checkbox" value={{user.username}} name="engagement[user][]" id="engagement_user_admin" ng-model="user.checked" >
                {{user.username}}
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4>Add Sub Engagement (If any)</h4>
          <div id="sub_engagements">
            <%= f.fields_for :sub_engagements do |sub_engagement| %>
                <%= render 'sub_engagement_fields', f: sub_engagement %>
                <div class="links addAnother">
                  <%= link_to_add_association f, :sub_engagements do %>
                      <i class="glyphicon glyphicon-plus-sign"></i> Add Another
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="engagementModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

          </div>
          <div class="modal-body">
            Are you sure to create this engagement?
          </div>
          <div class="modal-footer">
            <%= link_to "Maybe later", "#", class: "btn btn-default", "data-dismiss" => "modal" %>
            <%= link_to "Yes", "#", class: "btn btn-primary", onclick: '$("#new_engagement").submit()' %>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mTop19">
      <%= link_to "Create", "#", 'data-toggle' => 'modal', 'data-target' => '#engagementModal', :class => "butt"  %>
    </div>
<% end %>
