<h1><%= @customer %></h1>

<h3 class="text-center">Engagements</h3>

<%= content_tag :div do %>
    <table class="engagement_datatable table table-striped">
      <thead>
      <tr>
        <th>Engagement Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Type</th>
        <th>Reports</th>
      </tr>
      </thead>
      <tbody>
      <% @customer.engagements.each do |engagement| %>
          <tr>
            <td>
              <%= link_to engagement.engagement_name, engagement_path(engagement.id) %>
            </td>
            <td>
              <%= engagement.start_date %>
            </td>
            <td>
              <%= engagement.end_date %>
            </td>
            <td>
              <%= engagement.aasm_state %>
            </td>
            <td>
              <%= engagement.engagement_type.name %>
            </td>
            <td>
              <span>
                <% if engagement.reports.any? %>
                  <%= link_to get_pdf_path(engagement.reports.first, format: :pdf) do %>
                    <i class="glyphicon glyphicon-save"></i> Download as PDF
                  <% end %>
                <% else %>
                  <p> No saved reports </p>
                <% end %>
              </span>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
