<div class="row">
	<div class="col-md-6">
		<%= link_to "Back to #{@engagement.engagement_name}", engagement_path(@metasploit_report.engagement.id), class: "btn btn-primary" %>
	</div>
	<div class="col-md-6">
		<%= link_to "Add new metasploit", new_engagement_metasploit_path(@metasploit_report.engagement.id), class: "btn btn-primary pull-right" %>
	</div>
</div>
<h3>Reports</h3>
<table class="table table-striped table-bordered" id="metasploit_reports">
	<thead>
		<th>Product</th>
		<th>Path</th>
		<th>Time</th>
		<th>User</th>
		<th>Project</th>
	</thead>
	<tbody>
		<tr>
			<td><%= @metasploit_report.product %></td>
			<td><%= @metasploit_report.path %></td>
			<td><%= @metasploit_report.time %></td>
			<td><%= @metasploit_report.metasploit_user %></td>
			<td><%= @metasploit_report.project %></td>
		</tr>
	</tbody>
</table>

<h3>Events</h3>
<table class="table table-striped table-bordered" id="metasploit_events">
	<thead>
		<th>Event ID</th>
		<th>Workspace ID</th>
		<th>Host ID</th>
		<th>Created At</th>
		<th>Updated At</th>
		<th>Name</th>
		<th>Critical</th>
		<th>Seen</th>
		<th>Username</th>
		<th>Info</th>
		<th>Module Rhost</th>
		<th>Module Name</th>
	</thead>
	<tbody>
		<% unless @metasploit_report.metasploit_events.blank? %>
			<% @metasploit_report.metasploit_events.each do |event| %>
				<tr>
					<td><%= event.event_id %></td>
					<td><%= event.workspace_id %></td>
					<td><%= event.host_id %></td>
					<td><%= event.metasploit_created_at %></td>
					<td><%= event.metasploit_updated_at %></td>
					<td><%= event.name %></td>
					<td><%= event.critical %></td>
					<td><%= event.seen %></td>
					<td><%= event.username %></td>
					<td><%= event.info %></td>
					<td><%= event.module_rhost %></td>
					<td><%= event.module_name %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Services</h3>
<table class="table table-striped table-bordered" id="metasploit_services">
	<thead>
		<th>Name</th>
		<th>Service ID</th>
		<th>Host ID</th>
		<th>Created At</th>
		<th>Updated At</th>
		<th>Port</th>
		<th>Proto</th>
		<th>State</th>
		<th>Info</th>
	</thead>
	<tbody>
		<% unless @metasploit_report.metasploit_services.blank? %>
			<% @metasploit_report.metasploit_services.each do |service| %>
				<tr>
					<td><%= service.name %></td>
					<td><%= service.service_id %></td>
					<td><%= service.host_id %></td>
					<td><%= service.metasploit_created_at %></td>
					<td><%= service.metasploit_updated_at %></td>
					<td><%= service.port %></td>
					<td><%= service.proto %></td>
					<td><%= service.state %></td>
					<td><%= service.info %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Credential Cores</h3>
<table class="table table-striped table-bordered" id="metasploit_credential_cores">
	<thead>
		<th>Core ID</th>
		<th>Origin ID</th>
		<th>Origin Type</th>
		<th>Private ID</th>
		<th>Public ID</th>
		<th>Realm ID</th>
		<th>Workspace ID</th>
		<th>Created At</th>
		<th>Updated At</th>
		<th>Logins Count</th>
	</thead>
	<tbody>
		<% unless @metasploit_report.metasploit_credential_cores.blank? %>
			<% @metasploit_report.metasploit_credential_cores.each do |credential_core| %>
				<tr>
					<td><%= credential_core.core_id %></td>
					<td><%= credential_core.origin_id %></td>
					<td><%= credential_core.origin_type %></td>
					<td><%= credential_core.private_id %></td>
					<td><%= credential_core.public_id %></td>
					<td><%= credential_core.realm_id %></td>
					<td><%= credential_core.workspace_id %></td>
					<td><%= credential_core.metasploit_created_at %></td>
					<td><%= credential_core.metasploit_updated_at %></td>
					<td><%= credential_core.logins_count %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Hosts</h3>
<table class="table table-striped table-bordered" id="metasploit_hosts">
	<thead>
		<th>Host ID</th>
		<th>Name</th>
		<th>Created At</th>
		<th>Updated At</th>
		<th>Address</th>
		<th>MAC</th>
		<th>Comm</th>
		<th>State</th>
		<th>OS Name</th>
		<th>OS Flavor</th>
		<th>OS SP</th>
		<th>OS Language</th>
		<th>Arch</th>
		<th>Workspace ID</th>
		<th>Purpose</th>
		<th>Info</th>
		<th>Scope</th>
		<th>Note Count</th>
		<th>Vuln Count</th>
		<th>Service Count</th>
		<th>Host Detail Count</th>
		<th>Exploit Attempt Count</th>
		<th>Cred Count</th>
		<th>History Count</th>
		<th>Detected Arch</th>
		<th>Comments</th>
		<th>Virtual Host</th>
	</thead>
	<tbody>
		<% unless @metasploit_report.metasploit_hosts.blank? %>
			<% @metasploit_report.metasploit_hosts.each do |host| %>
				<tr>
					<td><%= host.metasploit_id %></td>
					<td><%= host.name %></td>
					<td><%= host.metasploit_created_at %></td>
					<td><%= host.metasploit_updated_at %></td>
					<td><%= host.address %></td>
					<td><%= host.mac %></td>
					<td><%= host.comm %></td>
					<td><%= host.state %></td>
					<td><%= host.os_name %></td>
					<td><%= host.os_flavor %></td>
					<td><%= host.os_sp %></td>
					<td><%= host.os_lang %></td>
					<td><%= host.arch %></td>
					<td><%= host.workspace_id %></td>
					<td><%= host.purpose %></td>
					<td><%= host.info %></td>
					<td><%= host.metasploit_scope %></td>
					<td><%= host.note_count %></td>
					<td><%= host.vuln_count %></td>
					<td><%= host.service_count %></td>
					<td><%= host.host_detail_count %></td>
					<td><%= host.exploit_attempt_count %></td>
					<td><%= host.cred_count %></td>
					<td><%= host.history_count %></td>
					<td><%= host.detected_arch %></td>
					<td><%= host.comments %></td>
					<td><%= host.virtual_host %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Exploit Attempts</h3>
<table class="table table-striped table-bordered" id="metasploit_exploit_attempts">
	<thead>
		<th>Exploit Attempt ID</th>
		<th>Service ID</th>
		<th>Vuln ID</th>
		<th>Attemped At</th>
		<th>Exploited</th>
		<th>Fail Reason</th>
		<th>Username</th>
		<th>Module</th>
		<th>Session ID</th>
		<th>Loot ID</th>
		<th>Port</th>
		<th>Proto</th>
		<th>Fail Detail</th>
	</thead>
	<tbody>
		<% unless @metasploit_report.metasploit_hosts.blank? %>
			<% @metasploit_report.metasploit_hosts.each do |host| %>
				<% unless host.metasploit_exploit_attempts.blank? %>
					<% host.metasploit_exploit_attempts.each do |exploit_attempt| %>
						<tr>
							<td><%= exploit_attempt.exploit_attempt_id %></td>
							<td><%= exploit_attempt.service_id %></td>
							<td><%= exploit_attempt.vuln_id %></td>
							<td><%= exploit_attempt.attempted_at %></td>
							<td><%= exploit_attempt.exploited %></td>
							<td><%= exploit_attempt.fail_reason %></td>
							<td><%= exploit_attempt.username %></td>
							<td><%= exploit_attempt.module %></td>
							<td><%= exploit_attempt.session_id %></td>
							<td><%= exploit_attempt.loot_id %></td>
							<td><%= exploit_attempt.port %></td>
							<td><%= exploit_attempt.proto %></td>
							<td><%= exploit_attempt.fail_detail %></td>
						</tr>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Host Notes</h3>
<table class="table table-striped table-bordered" id="metasploit_host_notes">
	<thead>
		<th>Note ID</th>
		<th>Created At</th>
		<th>Updated At</th>
		<th>Ntype</th>
		<th>Workspace ID</th>
		<th>Service ID</th>
		<th>Critical</th>
		<th>Seen</th>
		<th>Vuln ID</th>
		<th>Data</th>
	</thead>
	<tbody>
		<% unless @metasploit_report.metasploit_hosts.blank? %>
			<% @metasploit_report.metasploit_hosts.each do |host| %>
				<% unless host.metasploit_host_notes.blank? %>
					<% host.metasploit_host_notes.each do |host_note| %>
						<tr>
							<td><%= host_note.note_id %></td>
							<td><%= host_note.metasploit_created_at %></td>
							<td><%= host_note.metasploit_updated_at %></td>
							<td><%= host_note.ntype %></td>
							<td><%= host_note.workspace_id %></td>
							<td><%= host_note.service_id %></td>
							<td><%= host_note.critical %></td>
							<td><%= host_note.seen %></td>
							<td><%= host_note.vuln_id %></td>
							<td><%= host_note.data %></td>
						</tr>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Host Services</h3>
<table class="table table-striped table-bordered" id="metasploit_host_services">
	<thead>
		<th>Name</th>
		<th>Service ID</th>
		<th>Created At</th>
		<th>Updated At</th>
		<th>Port</th>
		<th>Proto</th>
		<th>State</th>
		<th>Info</th>
	</thead>
	<tbody>
		<% unless @metasploit_report.metasploit_hosts.blank? %>
			<% @metasploit_report.metasploit_hosts.each do |host| %>
				<% unless host.metasploit_host_services.blank? %>
					<% host.metasploit_host_services.each do |service| %>
						<tr>
							<td><%= service.name %></td>
							<td><%= service.service_id %></td>
							<td><%= service.metasploit_created_at %></td>
							<td><%= service.metasploit_updated_at %></td>
							<td><%= service.port %></td>
							<td><%= service.proto %></td>
							<td><%= service.state %></td>
							<td><%= service.info %></td>
						</tr>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Module Details</h3>
<table class="table table-striped table-bordered" id="metasploit_module_details">
	<thead>
		<th>Module ID</th>
		<th>Mtime</th>
		<th>File</th>
		<th>Ref Name</th>
		<th>Full Name</th>
		<th>Name</th>
		<th>Rank</th>
		<th>Description</th>
		<th>License</th>
		<th>Privileged</th>
		<th>Disclosure Date</th>
		<th>Default Target</th>
		<th>Defautl Action</th>
		<th>Stance</th>
		<th>Ready</th>
	</thead>
	<tbody>
		<% unless @metasploit_report.metasploit_module_details.blank? %>
			<% @metasploit_report.metasploit_module_details.each do |module_details| %>
				<tr>
					<td><%= module_details.module_id %></td>
					<td><%= module_details.mtime %></td>
					<td><%= module_details.file %></td>
					<td><%= module_details.refname %></td>
					<td><%= module_details.fullname %></td>
					<td><%= module_details.name %></td>
					<td><%= module_details.rank %></td>
					<td><%= module_details.description %></td>
					<td><%= module_details.license %></td>
					<td><%= module_details.privileged %></td>
					<td><%= module_details.disclosure_date %></td>
					<td><%= module_details.default_target %></td>
					<td><%= module_details.default_action %></td>
					<td><%= module_details.stance %></td>
					<td><%= module_details.ready %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Vulns</h3>
<table class="table table-striped table-bordered" id="metasploit_host_vuln">
	<thead>
		<th>Vuln ID</th>
		<th>Service ID</th>
		<th>Name</th>
		<th>Created At</th>
		<th>Updated At</th>
		<th>Info</th>
		<th>Exploited At</th>
		<th>Vuln Detail Count</th>
		<th>Vuln Attempt Count</th>
		<th>Nexpose Data Vuln Def ID</th>
		<th>Origin ID</th>
		<th>Origin Type</th>
		<th>Notes</th>
		<th>Refs</th>
		<th>Vuln Details</th>
		<th>Vuln Attempts</th>
	</thead>
	<tbody>
		<% unless @metasploit_report.metasploit_hosts.blank? %>
			<% @metasploit_report.metasploit_hosts.each do |host| %>
				<% unless host.metasploit_host_vulns.blank? %>
					<% host.metasploit_host_vulns.each do |host_vuln| %>
						<tr>
							<td><%= host_vuln.vuln_id %></td>
							<td><%= host_vuln.service_id %></td>
							<td><%= host_vuln.name %></td>
							<td><%= host_vuln.metasploit_created_at %></td>
							<td><%= host_vuln.metasploit_updated_at %></td>
							<td><%= host_vuln.info %></td>
							<td><%= host_vuln.exploited_at %></td>
							<td><%= host_vuln.vuln_detail_count %></td>
							<td><%= host_vuln.vuln_attempt_count %></td>
							<td><%= host_vuln.nexpose_data_vuln_def_id %></td>
							<td><%= host_vuln.origin_id %></td>
							<td><%= host_vuln.origin_type %></td>
							<td><%= host_vuln.notes %></td>
							<td>
								<% host_vuln.metasploit_refs.each_with_index do |metasploit_ref, index| %>
									<% if metasploit_ref.ref.include? "CVE" %>
										<%= link_to metasploit_ref.ref, cfe_path(metasploit_ref.ref), target: "_blank" %>
									<% elsif metasploit_ref.ref.include? "CWE" %>
										<%= link_to metasploit_ref.ref, cwe_path(metasploit_ref.ref.split("-").last), target: "_blank" %>
									<% else %>
										<%= metasploit_ref.ref %>
									<% end %>
									<% unless index == host_vuln.metasploit_refs.size - 1 %>
										,
									<% end %>
								<% end %>
							</td>
							<td><%= host_vuln.vuln_details %></td>
							<td><%= host_vuln.vuln_attempts %></td>
						</tr>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Credential Origins</h3>
<table class="table table-striped table-bordered" id="metasploit_credential_origins">
	<thead>
		<th>Origin ID</th>
		<th>Service ID</th>
		<th>Module Service Name</th>
		<th>Created At</th>
		<th>Updated At</th>
	</thead>
	<tbody>
		<% unless @metasploit_report.metasploit_credential_origins.blank? %>
			<% @metasploit_report.metasploit_credential_origins.each do |credential_origin| %>
				<tr>
					<td><%= credential_origin.origin_id %></td>
					<td><%= credential_origin.service_id %></td>
					<td><%= credential_origin.module_full_name %></td>
					<td><%= credential_origin.metasploit_created_at %></td>
					<td><%= credential_origin.metasploit_updated_at %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Credential Publics</h3>
<table class="table table-striped table-bordered" id="metasploit_credential_publics">
	<thead>
		<th>Public ID</th>
		<th>Username</th>
		<th>Created At</th>
		<th>Updated At</th>
	</thead>
	<tbody>
		<% unless @metasploit_report.metasploit_credential_publics.blank? %>
			<% @metasploit_report.metasploit_credential_publics.each do |credential_public| %>
				<tr>
					<td><%= credential_public.public_id %></td>
					<td><%= credential_public.username %></td>
					<td><%= credential_public.metasploit_created_at %></td>
					<td><%= credential_public.metasploit_updated_at %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Credential Logins</h3>
<table class="table table-striped table-bordered" id="metasploit_credential_logins">
	<thead>
		<th>Login ID</th>
		<th>Core ID</th>
		<th>Service ID</th>
		<th>Access Level</th>
		<th>Status</th>
		<th>Last Attempted At</th>
		<th>Created At</th>
		<th>Updated At</th>
	</thead>
	<tbody>
		<% unless @metasploit_report.metasploit_credential_logins.blank? %>
			<% @metasploit_report.metasploit_credential_logins.each do |credential_login| %>
				<tr>
					<td><%= credential_login.login_id %></td>
					<td><%= credential_login.core_id %></td>
					<td><%= credential_login.service_id %></td>
					<td><%= credential_login.access_level %></td>
					<td><%= credential_login.status %></td>
					<td><%= credential_login.last_attempted_at %></td>
					<td><%= credential_login.metasploit_created_at %></td>
					<td><%= credential_login.metasploit_updated_at %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<h3>Credential Privates</h3>
<table class="table table-striped table-bordered" id="metasploit_credential_privates">
	<thead>
		<th>Private ID</th>
		<th>Created At</th>
		<th>Updated At</th>
		<th>Type</th>
		<th>Data</th>
		<th>JTR Format</th>
	</thead>
	<tbody>
		<% unless @metasploit_report.metasploit_credential_privates.blank? %>
			<% @metasploit_report.metasploit_credential_privates.each do |credential_private| %>
				<tr>
					<td><%= credential_private.private_id %></td>
					<td><%= credential_private.metasploit_created_at %></td>
					<td><%= credential_private.metasploit_updated_at %></td>
					<td><%= credential_private.private_type %></td>
					<td><%= credential_private.data %></td>
					<td><%= credential_private.jtr_format %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>