<span><strong><%= "#{report.user.fname} #{report.user.lname} | #{report.user.username}" if current_user.admin? %></strong></span><br>
<span><%= report.options['report_name'] %> for <%= report.customer %></span><br>
<span><%= report.updated_at.to_formatted_s(:long)  %></span><br>
<div class="listingLink">
  <span>
    <%= link_to edit_report_path(report) do %>
      <i class="glyphicon glyphicon-pencil"></i> Edit
    <% end %>
  </span> 
  <span>
    <%= link_to report, method: :delete, data: { confirm: 'Are you sure?' } do %>
      <i class="glyphicon glyphicon-trash"></i> Destroy
    <% end %>
  </span> 
  <span>
    <%= link_to get_pdf_path(report, format: :pdf) do %>
      <i class="glyphicon glyphicon-save"></i> Download as PDF
    <% end %>
  </span>
</div>
<hr>
