<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
		<%= wicked_pdf_stylesheet_link_tag "pdf" %>
	</head>
	<body>
		<div id="content" class="midPos">
			<div class="tCenter">
				<h1>Penetration Test Report for Internal Lab and Exam</h1>
			</div>
			<hr>
			<% unless @report.options[:student_name].blank? %>
				<div class="tCenter nameUser">
					<%= @report.options[:student_name] %>
				</div>
			<% end %>
			<div class="tCenter timeUser">
				<%= @report.created_at.strftime("%B %d , %Y") %>
			</div>
			<div class="tCenter picPadd">
				<%= wicked_pdf_image_tag "mcpa-black.png", class: "w50" %>
			</div>
			<div class="page-break"></div>
			<div class="textUI">
				<h4 class="tUnderline">1.0 Lab and Exam Penetration Test Report</h4>
				<div>
					<h5>1.1 Introduction</h5>
					<% unless @report.options[:introduction].blank? %>
						<p><%= make_absolute_url(@report.options[:introduction]).html_safe %></p>
					<% end %>
					<div class="clear"></div>
				</div>
				<div>
					<h5>1.2 Objective</h5>
					<% unless @report.options[:objective].blank? %>
						<p><%= make_absolute_url(@report.options[:objective]).html_safe %></p>
					<% end %>
					<div class="clear"></div>
				</div>
				<div>
					<h5>1.3 Requirements</h5>
					<% unless @report.options[:requirements].blank? %>
						<p><%= make_absolute_url(@report.options[:requirements]).html_safe %></p>
					<% end %>
					<div class="clear"></div>
				</div>
			</div>
			<div class="page-break"></div>
			<div class="textUI">
				<h4 class="tUnderline">2.0 High-Level Summary</h4>
				<div>
					<% unless @report.options[:high_level_summary].blank? %>
						<p><%= make_absolute_url(@report.options[:high_level_summary]).html_safe %></p>
					<% end %>
					<h5>2.1 Recommendations</h5>
					<% unless @report.options[:recommendations].blank? %>
						<p><%= make_absolute_url(@report.options[:recommendations]).html_safe %></p>
					<% end %>
				</div>
				<div class="clear"></div>
			</div>
			<div class="page-break"></div>
			<div class="textUI">
				<h4 class="tUnderline">3.0 Methodologies</h4>
				<div>
					<% unless @report.options[:methodologies_overview].blank? %>
						<p><%= make_absolute_url(@report.options[:methodologies_overview]).html_safe %></p>
					<% end %>
					<h5>3.1 Information Gathering</h5>
					<% unless @report.options[:information_gathering].blank? %>
						<p><%= make_absolute_url(@report.options[:information_gathering]).html_safe %></p>
					<% end %>
					<h5>3.2 Service Enumeration</h5>
					<% unless @report.options[:service_enumeration].blank? %>
						<p><%= make_absolute_url(@report.options[:service_enumeration]).html_safe %></p>
					<% end %>
					<% unless @report.options[:enumerations].blank? %>
						<table cellpadding="0" cellspacing="0">
							<thead>
								<tr>
									<th>Server IP Address</th>
									<th>Ports Open</th>
								</tr>
							</thead>
							<tbody>
								<% @report.options[:enumerations].each do |enumeration| %>
									<tr>
										<td rowspan="2">
											<%= enumeration[1][:server] %>
										</td>
										<td>
											TCP : <%= enumeration[1][:tcp] %>
										</td>
									</tr>
									<tr>
										<td>
											UDP : <%= enumeration[1][:udp] %>
										</td>
									</tr>
								<% end %>
							</tbody>
						</table>
					<% end %>
				</div>
				<div class="clear"></div>
			</div>
			<div class="page-break"></div>
			<% unless @report.options[:penetrations].blank? %>
				<div class="textUI">
					<h3 class="tUnderline">4.0 Penetration</h3>
					<div class="page-break"></div>
					<% @report.options[:penetrations].each_with_index do |penetration, index| %>
						<% unless penetration[1][:vulnerability].blank? %>
							<h5>
								4.<%= index + 1 %> <%= penetration[1][:vulnerability] %>
							</h5>
							<div>
								<p>
									<span class="fBold">Vulnerability Exploited :</span>
									<span>
										<%= make_absolute_url(penetration[1][:vulnerability]).html_safe %>
									</span>
								</p>
							</div>
						<% end %>
						<% unless penetration[1][:system_vulnerable].blank? %>
							<div>
								<p>
									<span class="fBold">System Vulnerable :</span>
									<span>
										<%= make_absolute_url(penetration[1][:system_vulnerable]).html_safe %>
									</span>
								</p>
							</div>
						<% end %>
						<% unless penetration[1][:vulnerability_explanation][0].blank? %>
							<div>
								<p>
									<span class="fBold">Vulnerabilty Explanation :</span>
									<span>
										<%= make_absolute_url(penetration[1][:vulnerability_explanation][0]).html_safe %>
									</span>
								</p>
							</div>
						<% end %>
						<% unless penetration[1][:vulnerability_fix][0].blank? %>
							<div>
								<p>
									<span class="fBold">Vulnerability Fix :</span>
									<span>
										<%= make_absolute_url(penetration[1][:vulnerability_fix][0]).html_safe %>
									</span>
								</p>
							</div>
						<% end %>
						<div>
							<p>
								<span class="fBold">Severity :</span>
								<span class="<%= add_severity_class(penetration[1][:severity]) %>">
									<%= penetration[1][:severity].upcase %>
								</span>
							</p>
						</div>
						<% unless penetration[1][:proof_of_concept_code].blank? %>
							<div>
								<p>
									<span class="fBold">Proof of Concept Code :</span>
									<span>
										<%= make_absolute_url(penetration[1][:proof_of_concept_code]).html_safe %>
									</span>
								</p>
							</div>
						<% end %>
					<% end %>
					<div class="clear"></div>
				</div>
			<% end %>
			<div class="page-break"></div>
			<div class="textUI">
				<h4 class="tUnderline">5.0 Maintaining Access</h4>
				<% unless @report.options[:maintaining_access].blank? %>
					<p><%= make_absolute_url(@report.options[:maintaining_access]).html_safe %></p>
				<% end %>
				<div class="clear"></div>
			</div>
			<div class="page-break"></div>
			<div class="textUI">
				<h4 class="tUnderline">6.0 House Cleaning</h4>
				<% unless @report.options[:house_cleaning].blank? %>
					<p><%= make_absolute_url(@report.options[:house_cleaning]).html_safe %></p>
				<% end %>
				<div class="clear"></div>
			</div>
			<div class="page-break"></div>
			<div class="textUI">
				<h4 class="tUnderline">7.0 Additional Items Not Mentioned in the Report</h4>
				<% unless @report.options[:additional_items].blank? %>
					<p><%= make_absolute_url(@report.options[:additional_items]).html_safe %></p>
				<% end %>
				<div class="clear"></div>
			</div>
		</div>
	</body>
</html>